body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: absolute;
    height: 90%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 120px;
  }

  .form-control{
    width: 20%;
  }
  
  .form-select{
    width: 20%;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

#submit2 {
  margin-left: 50px;
}

.search-container{
  margin: 40px;
}

.floor{
  margin-right: 100px;
  float: right;
  position: relative;
}

#image-floor {
  border-style: groove;
  border-width: 5px;
  border-radius: 3px;
  width:550px;
  height:420px;
}

.desk {
  position: absolute;
  font-size: 20px;
  color: rgb(83, 194, 83);
}

.desk:hover {
  color: rgb(58, 153, 58);
  cursor: pointer;
}

#slot1 {
  left:257px;
  top:175px;
} 

#slot2 {
  left:305px;
  top:175px;
} 

#slot3 {
  left:352px;
  top:175px;
} 

#slot4 {
  left:400px;
  top:175px;
} 

#slot5 {
  left:448px;
  top:175px;
} 

#slot6 {
  left:496px;
  top:175px;
} 

#slot7 {
  left:257px;
  top:255px;
} 

#slot8 {
  left:305px;
  top:255px;
} 

#slot9 {
  left:352px;
  top:255px;
} 

#slot10 {
  left:400px;
  top:255px;
} 

#slot11 {
  left:448px;
  top:255px;
} 

#slot12 {
  left:496px;
  top:255px;
} 