.profilePic {
  width: 60%;
  align-items: center;
  position: absolute;
  border-radius: 5px;
  left: 50px;
  top: 30px;
}
.profileContainer {
  display: flex;
  
}
@media only screen and (max-width: 768px) {
  .profileContainer {
    flex-direction: column-reverse;
  }
}

.title{
  margin-left: 250px;
  font-size: 60px;
  /* font-family: "Ubuntu", sans-serif; */
  font-family: "Work Sans", sans-serif;
  padding: 5px 10px;
}

.content-profile {
  margin-left: 200px;
    padding: 20px;
    height: 120px;
}

.input-general{
  width:400px;
  border-radius: 4px;
}

.form-profile{
  margin-top: 30px;
}

#changePicture{
  position: relative;
  margin-top: 345px;
  margin-left: 50px;
  
}